@import url(//db.onlinewebfonts.com/c/0de280340df9c67a5d4e8fb82310b4ad?family=Daimler+CAC);
@import url(//db.onlinewebfonts.com/c/23fe921c6f711d75677bd6b351ac9418?family=Daimler+CS);

@font-face {
    font-family: "Daimler CAC";
    src: url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.eot");
    src: url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.woff") format("woff"), url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.svg#Daimler CAC") format("svg");
}

@font-face {
    font-family: "Daimler CS";
    src: url("//db.onlinewebfonts.com/t/23fe921c6f711d75677bd6b351ac9418.eot");
    src: url("//db.onlinewebfonts.com/t/23fe921c6f711d75677bd6b351ac9418.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/23fe921c6f711d75677bd6b351ac9418.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/23fe921c6f711d75677bd6b351ac9418.woff") format("woff"), url("//db.onlinewebfonts.com/t/23fe921c6f711d75677bd6b351ac9418.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/23fe921c6f711d75677bd6b351ac9418.svg#Daimler CS") format("svg");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px/1.5 "Daimler CS", "Calibri", sans-serif;
    /*background: linear-gradient(54deg, #9164ff, #8bfff4);*/
    background: #000000 url("/img/star.png") no-repeat center center fixed;
    color: #ffffff;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.daimler-font-serif {
    font-family: "Daimler CAC";
}

@media only screen and (max-width: 768px) {
    .timeline {
        color: black;
        margin: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .timeline {
        color: black;
        margin: 0 auto;
        width: 650px;
    }
}


.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #eee;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 4px 13px 30px 1px rgba(0, 128, 128, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.timeline ul li div time {
    position: absolute;
    background: teal;
    color: white;
    height: 30px;
    padding: 0 5px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.timeline ul li div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline ul li div div p {
    text-align: center;
}

.timeline ul li div .discovery {
    margin-right: 10px;
}

.timeline ul li:nth-of-type(odd) > div {
    left: 45px;
}

.timeline ul li:nth-of-type(even) > div {
    left: 45px;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.pulse-button {
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.3em;
    font-weight: light;
    font-family: 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: teal;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 128, 128, .5);
    -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
    /*-webkit-animation: none;*/
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 2s steps(30, end),
    blink-caret .5s step-end infinite;
}

.muted {
    color: #959396;
    font-size: 12px;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black
    }
}

@keyframes pulse {
    0% {
    @include transform(scale(.9));
    }
    70% {
    @include transform(scale(1));
        box-shadow: 0 0 0 50px rgba(0, 128, 128, 0);
    }
    100% {
    @include transform(scale(.9));
        box-shadow: 0 0 0 0 rgba(0, 128, 128, 0);
    }
}